tuning/ball_detection/runs/detect/train/labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/results.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch1.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch4921.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch2_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/PR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/results.csv filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch2_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/F1_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/confusion_matrix_normalized.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch0.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/args.yaml filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch0_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/P_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/R_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch4920.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch4922.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch1_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/weights/best.pt filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/weights/last.pt filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/labels_correlogram.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/train_batch2.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch1_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/weights filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/confusion_matrix.png filter=lfs diff=lfs merge=lfs -text
tuning/ball_detection/runs/detect/train/val_batch0_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/R_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch3610.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch2_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/F1_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/PR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/args.yaml filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/results.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch0.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch0_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch1_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/P_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/confusion_matrix.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/results.csv filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch0_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch1_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch3611.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch3612.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/weights/last.pt filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch1.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/train_batch2.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/weights filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/weights/best.pt filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/confusion_matrix_normalized.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/labels_correlogram.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_detections/runs/detect/train/val_batch2_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/results.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/val_batch0_pred.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/PoseP_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/confusion_matrix_normalized.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch2941.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/BoxPR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch2942.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/confusion_matrix.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/labels_correlogram.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch2.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch2940.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/weights filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/PosePR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/args.yaml filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/PoseR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch1.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/BoxF1_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/BoxR_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/train_batch0.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/weights/last.pt filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/results.csv filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/val_batch0_labels.jpg filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/weights/best.pt filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/BoxP_curve.png filter=lfs diff=lfs merge=lfs -text
tuning/pitch_keypoints/runs/pose/train/PoseF1_curve.png filter=lfs diff=lfs merge=lfs -text
