gdown==5.2.0
imageio==2.35.1
matplotlib==3.9.2
mplsoccer==1.4.0
numpy==1.20.1
numpy==1.23.2
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
scikit_learn==1.5.2
supervision==0.23.0
svgpath2mpl==1.0.0
svgpathtools==1.6.1
torch==2.4.1
tqdm==4.66.5
transformers==4.45.1
ultralytics==8.2.101
umap_learn==0.5.6
