gdown==5.2.0
imageio==2.35.1
mplsoccer==1.4.0
numpy==1.23.2
opencv-python<=4.8.0.76
pandas==2.2.2
protobuf==5.28.0
python-dotenv==1.0.1
roboflow==1.1.44
scikit-learn==1.5.1
sentencepiece==0.2.0
svgpath2mpl==1.0.0
svgpathtools==1.6.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.44.2
ultralytics==8.2.87
umap-learn==0.5.6
